
@using BugTracker.Models;
@using BugTracker.Helpers;

@model IEnumerable<ApplicationUser>

@{
    ViewBag.Title = "ManageProjectUsers";
    var projectHelper = new ProjectHelper();
}

<style>
    .btnWide {
        width: 100%;
    }
</style>

<h2>Manage Project Users</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-6">
            <h2>Select Users</h2>
            @Html.ListBox("UserIds")
        </div>

        <div class="col-6">
            <h2>Select Projects</h2>
            @Html.ListBox("ProjectIds")
        </div>
    </div>

    <br />

    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-warning btnWide"> Assign Users</button>
        </div>

    </div>
}

<hr />

<table class="table">
    <tr>
        <th>
            @("User")
        </th>
        <th>
            @("Work Email")
        </th>
        <th>
            @("Project(s)")
        </th>

    </tr>

    @foreach (var user in Model)
    {
        <tr>
            <td>
                @user.FullName
            </td>
            <td>
                @user.Email
            </td>
            <td>
                @foreach (var project in projectHelper.ListUserProjects(user.Id))
                {
                    @project.Name <br/>
                }
            </td>


        </tr>
    }

</table>