@using BugTracker.Models
@model IEnumerable<ApplicationUser>
@{
    ViewBag.Title = "Index";
}


<style>

    .row {
        margin-left: 40px;
        margin-right: 40px;
    }
</style>

<div class="row">
    <div class="col">
        <h2>All Users</h2>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayName("Full Name")
                    </th>
                    <th>
                        @Html.DisplayName("Work Email")
                    </th>
                    <th> </th>
                </tr>

            </thead>


            <tbody>
                @foreach (var user in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => user.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => user.Email)
                        </td>
                        <td>
                            @Html.ActionLink("Manage Projects", "Manage_1UserProjects", "Assignments", new { id = user.Id }, null) |
                            @Html.ActionLink("Manage Role", "Manage_1UserRole", "Assignments", new { id = user.Id }, null)

                        </td>
                    </tr>

                }
            </tbody>

        </table>
    </div>
</div>
