@using BugTracker.Models
@model LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bug-Tracker Pro | Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link href="~/Content/all.min.css" rel="stylesheet" />
    <!-- Ionicons -->
    <link rel="stylesheet" href="//code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link href="~/Content/icheck-bootstrap.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/Content/adminlte.min.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

    <style>
        .btn-admin {
            background-color: green;
            color: white;
        }
        .btn-admin:hover {
            background-color: darkgreen;
            color: white;
        }
        .btn-manager {
            background-color: crimson;
            color: white;
        }
        .btn-manager:hover {
            background-color: darkred;
            color: white;
        }
        .btn-submitter {
            background-color: dodgerblue;
            color: white;
        }
        .btn-submitter:hover {
            background-color: blue;
            color: white;
        }
        .btn-developer {
            background-color: darkorange;
            color: white;
        }
        .btn-developer:hover {
            background-color: orangered;
            color: white;
        }


    </style>
</head>
<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="~/Account/Register"><b>Bug-Tracker </b>Pro</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Sign In to start your session</p>

                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()


                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" name="Email" placeholder="Email">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-envelope"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                        </div>

                        <div class="input-group mb-3">
                            <input type="password" class="form-control" name="Password" placeholder="Password">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                        </div>

                        <div class="row">
                            <div class="col-8">
                                <div class="icheck-primary">
                                    <input type="checkbox" name="RememeberMe" id="RememberMe">
                                    <label for="RememberMe">
                                        Remember Me
                                    </label>
                                </div>
                            </div>
                            <!-- /.col -->
                            <div class="col-4">
                                <button type="submit" class="btn btn-dark btn-block">Sign In</button>
                            </div>
                            <!-- /.col -->
                        </div>

                    }
                </section>

                <div class="social-auth-links text-center mb-3">
                    <p>- OR -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Sign in using Facebook
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Sign in using Google+
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-0">
                    @Html.ActionLink("Register as a new user", "Register")
                </p>
                <p class="mb-1">
                    @Html.ActionLink("Forgot your password?", "ForgotPassword")
                </p>
                <p class="mb-0">
                    @Html.ActionLink("Resend Email Confirmation", "ResendEmailConfirmation")
                </p>

            </div>
            <!-- /.login-card-body -->
        </div>
    </div>

    @*DEMO USERS LOGIN*@
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                @*admin*@
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.Hidden("emailKey", "DemoAdmin");
                    <div>
                        <button type="submit" class="btn btn-admin btn-block" style="margin-bottom: 10px"><i class="fas fa-chalkboard-teacher mr-2"></i> Demo Admin</button>
                    </div>
                }

                @*project manager*@
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.Hidden("emailKey", "DemoPM");
                    <div>
                        <button type="submit" class="btn btn-manager btn-block" style="margin-bottom: 10px"><i class="fas fa-code-branch mr-2"></i> Demo Project Manager</button>
                    </div>
                }

                @*submitter*@
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.Hidden("emailKey", "DemoSubmitter");
                    <div>
                        <button type="submit" class="btn btn-submitter btn-block" style="margin-bottom: 10px"><i class="fas fa-bug mr-2"></i> Demo Submitter</button>
                    </div>
                }

                @*developer*@
                @using (Html.BeginForm("DemoLoginAsync", "Account", FormMethod.Post))
                {
                    @Html.AntiForgeryToken();
                    @Html.Hidden("emailKey", "DemoDeveloper");
                    <div>
                        <button type="submit" class="btn btn-developer btn-block" style="margin-bottom: 10px"><i class="fas fa-code mr-2"></i> Demo Developer</button>
                    </div>
                }
            </div>
        </div>
    </div>



    <!-- /.login-box -->
    <!-- jQuery -->
    <script src="~/Scripts/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/Scripts/adminlte.min.js"></script>
    @*Font Awesome icons*@
    <script src="https://kit.fontawesome.com/2af960cec4.js" crossorigin="anonymous"></script>

</body>
</html>
